<!-- Section with all students -->
<section class="cardlayout">
    <article class="filters">

        {% comment %}
            Mobile only details
        {% endcomment %}
        <details>
            <summary>Filteren</summary>
            <p>testje</p>
        </details>

        {% comment %}
            Desktop filters
        {% endcomment %}
		<button class="filterbutton beige">
			<p>Filters tonen</p>
		</button>
        
        {% comment %}
            All screens sorting
        {% endcomment %}
		<details>
			<summary>Sorteren</summary>
			<p>testje</p>
		</details>
	</article>
    <ul>
        <!-- Liquid for loop for each person in the database -->
        {% for person in persons %}
            {% if person.mugshot %}
                {% include 'partials/calc.liquid' %}
                {% include 'partials/vars.liquid' %}
                <!-- Individual student card --> 
                <li class="card">
                    <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}"  width="400" height="300" alt="">

                    <div class="badges">
                        {% if age %}
                            <p class="age">{{ age }}</p>
                        {% endif %}
                        {% if person.residency %}
                            <p>{{ person.residency }}</p>
                            {% endif %}
                        {% if person.fav_property %}
                            <p>{{ person.fav_property | strip_html }}</p>
                        {% endif %}
                    </div>
                    <article>
                        <h3>{{ person.name | strip_html }}</h3>
                        <!-- linkje met alleen de voornaam -->
                        <a class="link beige" href="/student/{{ person.id }}">Meer over {{ person.name | split: " " | first}}</a>
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% if persons.size > 8 %}
    <a href="/students" class="link">Bekijk alle studenten</a>
{% endif %}
</section>


<aside class="filter-desktop">
    <form action="/" method="GET">
        <fieldset>
            <legend>Filter Students</legend>

            <label for="residency">City</label>
            <select name="residency" id="residency">
                <option value="">All Cities</option>
                <option value="Alkmaar">Alkmaar</option>
                <option value="Amsterdam">Amsterdam</option>
            </select>

            <label for="fav_animal">Favorite Animal</label>
            <input type="text" name="fav_animal" placeholder="e.g. Koala">

            <label for="fav_color">Color (Hex)</label>
            <input type="color" name="fav_color">

            <button type="submit">Apply Filters</button>
            <a href="/">Clear All</a>
        </fieldset>
    </form>
</aside>