<!-- Section with all students -->
<section class="cardlayout">
    <ul>
        <!-- Liquid for loop for each person in the database -->
        {% for person in persons %}
            {% if person.mugshot %}
                {% include 'partials/calc.liquid' %}
                {% include 'partials/vars.liquid' %}
                <!-- Individual student card --> 
                <li class="{{ person.fav_season }}">
                    <figure>
                        <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}"  width="400" height="300" alt="">
                        <p style="border-radius: {{ person.fav_border_radius | default: 0 }}px;"> Fav border radius</p>
                    </figure>

                    <article>
                        <h3>{{ person.name | strip_html }}</h3>
                        <div class="clouds">
                            {% if age %}
                                <p class="age">{{ age }}
                                </p>
                            {% endif %}

                            {% if person.residency %}
                                <p>{{ person.residency }}</p>
                            {% endif %}

                            {% if person.fav_season == "Zomer" %}
                                <svg width="80" height="78" viewBox="0 0 80 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M39.998 0C41.378 0 42.498 1.09203 42.498 2.43756V7.31268C42.498 7.95916 42.2346 8.57917 41.7658 9.0363C41.2969 9.49343 40.661 9.75024 39.998 9.75024C39.335 9.75024 38.6991 9.49343 38.2302 9.0363C37.7614 8.57917 37.498 7.95916 37.498 7.31268V2.43756C37.498 1.09203 38.618 0 39.998 0ZM60.044 39.0907C60.044 49.8335 51.112 58.5424 40.094 58.5424C29.074 58.5424 20.142 49.8335 20.142 39.0907C20.142 28.3459 29.074 19.637 40.094 19.637C51.112 19.637 60.044 28.3459 60.044 39.0907ZM77.5 41.4366C78.163 41.4366 78.7989 41.1798 79.2678 40.7226C79.7366 40.2655 80 39.6455 80 38.999C80 38.3525 79.7366 37.7325 79.2678 37.2754C78.7989 36.8183 78.163 36.5615 77.5 36.5615H72.5C71.837 36.5615 71.2011 36.8183 70.7322 37.2754C70.2634 37.7325 70 38.3525 70 38.999C70 39.6455 70.2634 40.2655 70.7322 40.7226C71.2011 41.1798 71.837 41.4366 72.5 41.4366H77.5ZM39.998 68.2498C41.378 68.2498 42.498 69.3418 42.498 70.6873V75.5624C42.498 76.2089 42.2346 76.8289 41.7658 77.2861C41.2969 77.7432 40.661 78 39.998 78C39.335 78 38.6991 77.7432 38.2302 77.2861C37.7614 76.8289 37.498 76.2089 37.498 75.5624V70.6873C37.498 69.3418 38.618 68.2498 39.998 68.2498ZM7.5 41.4366C8.16304 41.4366 8.79893 41.1798 9.26777 40.7226C9.73661 40.2655 10 39.6455 10 38.999C10 38.3525 9.73661 37.7325 9.26777 37.2754C8.79893 36.8183 8.16304 36.5615 7.5 36.5615H2.5C1.83696 36.5615 1.20107 36.8183 0.732233 37.2754C0.263392 37.7325 0 38.3525 0 38.999C0 39.6455 0.263392 40.2655 0.732233 40.7226C1.20107 41.1798 1.83696 41.4366 2.5 41.4366H7.5ZM10.732 10.462C10.9642 10.2356 11.2398 10.056 11.5431 9.93345C11.8465 9.81091 12.1716 9.74784 12.5 9.74784C12.8284 9.74784 13.1535 9.81091 13.4569 9.93345C13.7602 10.056 14.0358 10.2356 14.268 10.462L19.268 15.3371C19.5002 15.5635 19.6843 15.8323 19.81 16.128C19.9357 16.4238 20.0003 16.7408 20.0003 17.061C20.0003 17.3811 19.9357 17.6981 19.81 17.9939C19.6843 18.2897 19.5002 18.5584 19.268 18.7848C19.0358 19.0112 18.7602 19.1908 18.4568 19.3133C18.1535 19.4358 17.8283 19.4989 17.5 19.4989C17.1717 19.4989 16.8465 19.4358 16.5432 19.3133C16.2398 19.1908 15.9642 19.0112 15.732 18.7848L10.732 13.9097C10.4998 13.6833 10.3156 13.4146 10.1899 13.1188C10.0642 12.823 9.99953 12.506 9.99953 12.1859C9.99953 11.8657 10.0642 11.5487 10.1899 11.2529C10.3156 10.9571 10.4998 10.6884 10.732 10.462ZM14.268 67.538C13.7991 67.9952 13.1631 68.252 12.5 68.252C11.8369 68.252 11.2009 67.9952 10.732 67.538C10.2631 67.0808 9.99967 66.4607 9.99967 65.8141C9.99967 65.1676 10.2631 64.5475 10.732 64.0903L15.732 59.2152C15.9642 58.9888 16.2398 58.8092 16.5432 58.6867C16.8465 58.5642 17.1717 58.5011 17.5 58.5011C17.8283 58.5011 18.1535 58.5642 18.4568 58.6867C18.7602 58.8092 19.0358 58.9888 19.268 59.2152C19.5002 59.4416 19.6843 59.7103 19.81 60.0061C19.9357 60.3019 20.0003 60.6189 20.0003 60.939C20.0003 61.2592 19.9357 61.5762 19.81 61.872C19.6843 62.1677 19.5002 62.4365 19.268 62.6629L14.268 67.538ZM69.268 10.462C68.7992 10.0053 68.1637 9.74881 67.501 9.74881C66.8383 9.74881 66.2028 10.0053 65.734 10.462L60.734 15.3371C60.2651 15.7943 60.0017 16.4144 60.0017 17.061C60.0017 17.7075 60.2651 18.3276 60.734 18.7848C61.2029 19.242 61.8389 19.4989 62.502 19.4989C63.1651 19.4989 63.8011 19.242 64.27 18.7848L69.27 13.9097C69.5022 13.6833 69.6864 13.4146 69.8121 13.1188C69.9378 12.823 70.0025 12.506 70.0025 12.1859C70.0025 11.8657 69.9378 11.5487 69.8121 11.2529C69.6864 10.9571 69.5002 10.6884 69.268 10.462ZM65.734 67.538C66.2029 67.9952 66.8389 68.252 67.502 68.252C68.1651 68.252 68.8011 67.9952 69.27 67.538C69.7389 67.0808 70.0023 66.4607 70.0023 65.8141C70.0023 65.1676 69.7389 64.5475 69.27 64.0903L64.27 59.2152C64.0378 58.9888 63.7622 58.8092 63.4588 58.6867C63.1555 58.5642 62.8303 58.5011 62.502 58.5011C62.1737 58.5011 61.8485 58.5642 61.5452 58.6867C61.2418 58.8092 60.9662 58.9888 60.734 59.2152C60.5018 59.4416 60.3176 59.7103 60.192 60.0061C60.0663 60.3019 60.0017 60.6189 60.0017 60.939C60.0017 61.2592 60.0663 61.5762 60.192 61.872C60.3176 62.1677 60.5018 62.4365 60.734 62.6629L65.734 67.538Z" fill="#FFC700"/>
                                </svg>
                            {% endif %}

                            {% if person.fav_season == "Lente" %}
                                <svg width="100" height="63" viewBox="0 0 100 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_d_121_5848)">
                                    <path d="M59.3285 1.7547C69.8646 -1.06828 80.4509 4.2739 82.9734 13.687C83.7762 16.6828 83.6629 19.7298 82.7993 22.5831C87.4727 24.6023 91.0982 28.4072 92.4284 33.3716C94.8938 42.5731 88.5429 52.2692 78.2438 55.0288C70.1049 57.2096 61.9364 54.4057 57.6507 48.5925C55.3123 51.0363 52.2066 52.9316 48.5757 53.9045C42.0966 55.6406 35.5961 54.0011 31.3308 50.1238C29.1128 52.1565 26.3229 53.7303 23.1244 54.5873C13.487 57.1697 3.80418 52.2827 1.49705 43.6724C-0.809869 35.0621 5.13234 25.9893 14.7697 23.407C16.2355 23.0142 17.7022 22.7947 19.144 22.7343C20.8256 17.1267 25.6858 12.3314 32.2712 10.5667C37.2444 9.23413 42.2298 9.89047 46.2074 12.021C48.6758 7.24084 53.3522 3.35603 59.3285 1.7547Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <filter id="filter0_d_121_5848" x="0" y="0" width="99.9597" height="62.7665" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="3" dy="3"/>
                                    <feGaussianBlur stdDeviation="2"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_121_5848"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_121_5848" result="shape"/>
                                    </filter>
                                    </defs>
                                </svg>
                            {% endif %}

                            {% if person.fav_season == "Herfst" %}
                                <svg width="100" height="63" viewBox="0 0 100 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_d_121_5848)">
                                    <path d="M59.3285 1.7547C69.8646 -1.06828 80.4509 4.2739 82.9734 13.687C83.7762 16.6828 83.6629 19.7298 82.7993 22.5831C87.4727 24.6023 91.0982 28.4072 92.4284 33.3716C94.8938 42.5731 88.5429 52.2692 78.2438 55.0288C70.1049 57.2096 61.9364 54.4057 57.6507 48.5925C55.3123 51.0363 52.2066 52.9316 48.5757 53.9045C42.0966 55.6406 35.5961 54.0011 31.3308 50.1238C29.1128 52.1565 26.3229 53.7303 23.1244 54.5873C13.487 57.1697 3.80418 52.2827 1.49705 43.6724C-0.809869 35.0621 5.13234 25.9893 14.7697 23.407C16.2355 23.0142 17.7022 22.7947 19.144 22.7343C20.8256 17.1267 25.6858 12.3314 32.2712 10.5667C37.2444 9.23413 42.2298 9.89047 46.2074 12.021C48.6758 7.24084 53.3522 3.35603 59.3285 1.7547Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <filter id="filter0_d_121_5848" x="0" y="0" width="99.9597" height="62.7665" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="3" dy="3"/>
                                    <feGaussianBlur stdDeviation="2"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_121_5848"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_121_5848" result="shape"/>
                                    </filter>
                                    </defs>
                                </svg>
                            {% endif %}

                            {% if person.fav_season == "Winter" %}
                            <svg width="100" height="63" viewBox="0 0 100 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_121_5848)">
                                <path d="M59.3285 1.7547C69.8646 -1.06828 80.4509 4.2739 82.9734 13.687C83.7762 16.6828 83.6629 19.7298 82.7993 22.5831C87.4727 24.6023 91.0982 28.4072 92.4284 33.3716C94.8938 42.5731 88.5429 52.2692 78.2438 55.0288C70.1049 57.2096 61.9364 54.4057 57.6507 48.5925C55.3123 51.0363 52.2066 52.9316 48.5757 53.9045C42.0966 55.6406 35.5961 54.0011 31.3308 50.1238C29.1128 52.1565 26.3229 53.7303 23.1244 54.5873C13.487 57.1697 3.80418 52.2827 1.49705 43.6724C-0.809869 35.0621 5.13234 25.9893 14.7697 23.407C16.2355 23.0142 17.7022 22.7947 19.144 22.7343C20.8256 17.1267 25.6858 12.3314 32.2712 10.5667C37.2444 9.23413 42.2298 9.89047 46.2074 12.021C48.6758 7.24084 53.3522 3.35603 59.3285 1.7547Z" fill="white"/>
                                </g>
                                <defs>
                                <filter id="filter0_d_121_5848" x="0" y="0" width="99.9597" height="62.7665" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="3" dy="3"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_121_5848"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_121_5848" result="shape"/>
                                </filter>
                                </defs>
                            </svg>
                            {% endif %}
                        </div>
                        <!-- linkje met alleen de voornaam -->
                        <a href="/student/{{ person.id }}">Meer over {{ person.name | split: " " | first}}</a>

                        {% if person.fav_animal %}
                            <audio src="/assets/animalsound.mp3" class="animalsound"></audio>
                            <img class="favanimal" src="/assets/{{ person.fav_animal | downcase }}.svg" alt="">
                        {% endif %}

                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% if persons.size > 8 %}
    <a href="/students" class="">Bekijk alle studenten</a>
{% endif %}
</section>