<!-- Section with all students -->
<section class="cardlayout">
    <ul>
        <!-- Liquid for loop for each person in the database -->
        {% for person in persons %}
            {% if person.mugshot %}
                {% include 'partials/calc.liquid' %}
                {% include 'partials/vars.liquid' %}
                <!-- Individual student card --> 
                <li>
                    <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}"  width="400" height="300" alt="">
                    <p class="border" style="--border-radius: {{ person.fav_border_radius | default: 0 }}px;"> Fav border radius</p>

                    <div class="badges">
                        {% if age %}
                            <p class="age">{{ age }}</p>
                        {% endif %}
                        {% if person.residency %}
                            <p>{{ person.residency }}</p>
                            {% endif %}
                        {% if person.fav_property %}
                            <p>{{ person.fav_property | strip_html }}</p>
                        {% endif %}
                    </div>
                    <article>
                        <h3>{{ person.name | strip_html }}</h3>
                        <!-- linkje met alleen de voornaam -->
                        <a class="link beige" href="/student/{{ person.id }}">Meer over {{ person.name | split: " " | first}}</a>
                    </article>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% if persons.size > 8 %}
    <a href="/students" class="link">Bekijk alle studenten</a>
{% endif %}
</section>