{% render 'partials/head.liquid', title: 'Squad page' %}
<link rel="stylesheet" href="/bioscoopstyle.css">
<main class="bioscoop">
  <section>
    <article>
      {% include 'partials/calc.liquid' %}
      <div>
        <a href="/">terug</a>
        <img
          class="mugshot"
          src="https://fdnd.directus.app/assets/{{ person.mugshot }}"
          alt="foto van: persoon"
        >
        <p>naam: {{ person.name }}</p>

        <p>leeftijd: {{ age }}</p>
        <form method="post" action="/bioscoop">
          <fieldset>
            <legend>Review de favoriete film van {{ person.name | split: ' ' | first }}</legend>
            <input type="hidden" value="{{ person.id }}" name="id">
            <label>
              sleep je score
              <input
                type="range"
                name="score"
                id="score"
                min="0.5"
                max="5"
                step="0.5"
                value="2.5"
                style="--val: 2.5"
                oninput="this.style='--val:'+this.value"
              >
            </label>
            <label>
              vul hier je naam in:
              <input type="text" name="name" id="name" placeholder="Krijn">
            </label>
          </fieldset>
          <button>verzenden</button>
        </form>
      </div>
      <div>
        <h1>favoriete film:</h1>
        <img
          src="/assets/20th_Century_Fox_logo_new.webp"
          width="500"
          height="250"
          alt="foto van 20th centry fox intro"
        >
        <p class="fav_movie">{{ person.fav_movie }}</p>
        <p>reviews:</p>

        {% comment %} maak de person.id een string {% endcomment %}
        {% assign person_id = person.id | append: '' %}
        {% comment %} van alle reviews haal alle van de specifieke id {% endcomment %}
        {% assign review_id = reviews | where: 'id', person_id %}
        {% comment %} for loop zodat als je meerdere reviews hebt het apart wordt gezet {% endcomment %}
        {% for review in review_id %}
          <p>Naam: {{ review.name }}</p>
          <p>{{ review.score }} sterren</p>
        {% endfor %}
      </div>
    </article>
    <article>
      {% for person in persons %}
        <a href="/bioscoop/{{ person.id }}" class="stoel">
          <p>{{ person.name | split: ' ' | first }}</p>
          <p>{{ person.id }}</p>
        </a>
      {% endfor %}
    </article>
  </section>
</main>
