{% render 'partials/head_cart.liquid', title: 'Squad page' %}

{% if cart_items.size > 0 %}
<main class="cart">
    
    {% comment %} 
        Section with all persons in your cart
    {%  endcomment %}
    <section>
        <h2>Mijn winkelmandje</h2>
        <ul>
            {% for person in cart_items %}
                {% include 'partials/calc.liquid' %}
                <li>
                    <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}"  width="400" height="300" alt="">
                    <h3>{{ person.name }}</h3>     
                    <p class="price"> {{randomNumber}},-
                        <span>92,5</span>
                    </p>
                    <form action="/remove-from-cart" method="POST">
                        <input type="hidden" name="id" value="{{ person.id }}">
                        <button type="submit">{{ person.name | split: " " | first}} Uit mijn winkelmandje </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>

</main>

<aside class="cart">
    <p>Totaal</p>
</aside>

{% else %}
    <main>
        <p>404 helaas pindakaas</p>
    </main>
{% endif %}